html, body {
  font-size: 92%;
  height: 100%;
}

body {
  overflow-y: auto;
}

@media only screen and (min-width: 993px) {
  .container {
    width: 70%;
  }
}

@media only screen and (min-width: 1136px) {
  .container {
    width: 85%;
  }
}

.search-result-container {
  padding-top: 10px;
}

.search-result-list-container {
  margin: 0.5rem 0 1rem 0;
  padding: 5px 10px 15px 20px;
}

.search-result-list {
  list-style: none;
  margin: 0;
  padding: 0px 10px;
}

.search-result-item {
  margin-top: 12px;
  line-height: 20px;
  list-style: none;
  box-sizing: border-box;
}

input[type="submit"] {
  position: absolute;
  top: -1000px
}

/* Materializecss Overrides */
h5.smaller {
  font-size: 14pt;
}

label.smaller {
  font-size: 10pt;
}

.fadeout-overflow:before {
  content:'';
  width:100%;
  height:100%;
  position:absolute;
  left:0;
  top:0;
  background:linear-gradient(transparent 10px, white);
}

.card .card-title.smaller {
  font-size: 12pt;
  line-height: 22px;
}

.collection.with-header .collection-header.smaller {
  font-size: 12pt;
}

.collection.with-header .collection-item.narrow-padding-left {
  padding-left: 18px;
}
