html, body {
  font-size: 92%;
  height: 100%;
}

body {
  overflow-y: auto;
}

.search-result-container {
  padding-top: 10px;
}

.search-result-list {
  list-style: none;
  margin: 0;
  padding: 0px 10px;
}

.search-result-item {
  margin-top: 12px;
  line-height: 20px;
  list-style: none;
  box-sizing: border-box;
}

input[type="submit"] {
  position: absolute;
  top: -1000px
}

/* Materializecss Overrides */
h5.smaller {
  font-size: 14pt;
}

.collection.with-header .collection-item.narrow-padding-left {
  padding-left: 18px;
}
