<!doctype html>
<html>

<head>
  <meta charset="UTF8">
  <title>Search Explorer</title>
  <link type="text/css" rel="stylesheet" href="assets/css/materialize.min.css"
    media="screen,projection">
  <link type="text/css" rel="stylesheet" href="assets/css/material-icons.css">
  <link type="text/css" rel="stylesheet" href="assets/css/rzslider.min.css">
  <link type="text/css" rel="stylesheet" href="assets/css/refinr.css">
  <script type="text/javascript" src="assets/libs/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="assets/libs/materialize.min.js"></script>
  <script type="text/javascript" src="assets/libs/dexie.min.js"></script>
  <script type="text/javascript" src="assets/libs/angular.min.js"></script>
  <script type="text/javascript" src="assets/libs/angular-filter.min.js"></script>
  <script type="text/javascript" src="assets/libs/angular-materialize.min.js"></script>
  <script type="text/javascript" src="assets/libs/moment.min.js"></script>
  <script type="text/javascript" src="assets/libs/rzslider.min.js"></script>
  <script type="text/javascript" src="assets/libs/quantities.js"></script>
  <script type="text/javascript" src="app/app.js"></script>
  <script type="text/javascript" src="app/components/search/search.controller.js"></script>
  <script type="text/javascript" src="app/components/search/search.filters.js"></script>
  <script type="text/javascript" src="app/components/search/cse.factory.js"></script>
  <script type="text/javascript" src="app/components/search/category-facet.factory.js"></script>
  <script type="text/javascript" src="app/components/search/range-facet.factory.js"></script>
  <script type="text/javascript" src="app/components/search/breadcrumb.factory.js"></script>
  <script type="text/javascript" src="app/components/search/filter.factory.js"></script>  
  <script type="text/javascript" src="app/components/search/vocab.constant.js"></script>
  <script type="text/javascript" src="app/components/settings/profiles.constant.js"></script>
</head>

<body class="grey lighten-5" ng-app="schemaorg">
  <form class="search-container" ng-controller="searchController as sc">
    <div class="input-field" style="margin-top:0;">
      <input class="valign center search-bar"
      style="font-size:200%;padding-top:10px;padding-bottom:10px;"
      placeholder="Type a concept here..." type="search" ng-model="keyword" required>
      <i class="material-icons" style="padding-top:18px;">close</i>
      <input type="submit" id="submit" value="Search" ng-click="doSearch()">
    </div>
    <div class="row search-breadcrumb" ng-if="breadcrumbs.length!=0">
      <div style="float:left;">TOPICS: </div>
      <div class="topic-type" ng-repeat="breadcrumb in breadcrumbs">
        <a class="btn dropdown-button" href="#"
            ng-attr-data-activates="dropdown-{{breadcrumb.topic.name}}" dropdown>
            {{breadcrumb.topic.label}}<i class="material-icons right">arrow_drop_down</i></a>
        <ul id="dropdown-{{breadcrumb.topic.name}}" class="dropdown-content">
          <li ng-repeat="facet in breadcrumb.facets"><a href="#"
              ng-click="onOpen(facet)">{{facet.label}}</a></li>
        </ul>
      </div>
    </div>
    <div class="row container">
      <div class="search-facet-container col s2">
        <div ng-repeat="facet in categoryFacets" ng-if="facet.visible">
          <ul class="collection with-header">
            <li class="collection-header">
              <div class="row narrower">
                <div class="col s10">{{facet.label}}</div>
                <div class="col s2"><span class="x" ng-click="onClose(facet)"></span></div>
              </div>
            </li>
            <li class="collection-item narrow-padding-left" ng-repeat="choice in facet.choices">
              <input type="checkbox" id="checkbox-{{facet.name}}-{{$index}}"
                  ng-model="choice.selected" ng-change="onCheckboxChanged(facet)">
                <label class="smaller" for="checkbox-{{facet.name}}-{{$index}}">{{choice.value}}</label>
            </li>
          </ul>
        </div>
        <div ng-repeat="facet in rangeFacets" ng-if="facet.visible">
          <ul class="collection with-header">
            <li class="collection-header">
              <div class="row narrower">
                <div class="col s10">{{facet.label}}<label ng-if="facet.unit">&nbsp;({{facet.unit}})</label></div>
                <div class="col s2"><span class="x" ng-click="onClose(facet)"></span></div>
              </div>
            </li>
            <li class="collection-item narrow-padding-left">
              <rzslider rz-slider-model="facet.minValue"
                  rz-slider-high="facet.maxValue"
                  rz-slider-options="facet.options"></rzslider>
            </li>
          </ul>
        </div>
      </div>
      <div class="search-result-container col s10">
        <div class="row">
          <div class="col s12 cards-container">
            <div class="card small" ng-repeat="item in sc.searchResults" ng-if="item.schemaorg.length">
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4 smaller">
                  <a href="{{item.url}}" target="_blank">{{item.title | removeSeparator}}</a>
                </span>
                <p class="fadeout-overflow">{{item.description}}</p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4 smaller">Schema.org Markup
                  <i class="material-icons right">close</i></span>
                <pre>{{item.schemaorg | json}}</pre>
              </div>
              <div class="card-action white-text blue-grey darken-1 activator narrower">VIEW MARKUP
                  <i class="material-icons right">more_vert</i>
              </div>
            </div>
          </div>
          <div class="col s12">
            <div class="search-result-list-container">
              <ul class="search-result-list">
                <li class="search-result-item" ng-repeat="item in sc.searchResults" ng-if="!item.schemaorg.length">
                  <span><a href="{{item.url}}" target="_blank">{{item.title}}</a><span><br>
                  <span class="green-text lighten-3">{{item.url}}</span><br>
                  <span>{{item.description}}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</body>

</html>
