html, body {
  font-size: 92%;
}

body {
  overflow-y: auto;
}

.container {
  width: 95%;
  margin-left: 15px;
}

.search-breadcrumb {
  font-size: 15px;
  margin: 15px;
  line-height: 30px;
}

.topic-type {
  float: left;
  margin-right: 8px;
  margin-bottom: 10px;
}

.dropdown-button {
  font-size: 12px;
  padding: 0 1.2em;
  height: 32px;
  line-height: 32px;
}

.search-facet-container {
  margin-top:-20px;
  overflow:hidden;
  background-color: #E6E6E6;
}

.search-facets {
  margin: 15px;
}

.facet-menu {
  margin-top: 10px;
  margin-bottom: 10px;
}

.search-result-richlist-container {
  padding-right: 10px;
}

.search-result-list-container {
  margin: 0.5rem 0 1rem 0;
  padding: 5px 10px 15px 20px;
}

.search-snippet {
  line-height: 1.5;
  padding-top: 20px;
}

.search-chips {
  line-height: 1.5;
  text-align: right;
}

.search-result-list {
  list-style: none;
  margin: 0;
  padding: 0px 10px;
}

.search-result-item {
  margin-top: 12px;
  line-height: 20px;
  list-style: none;
  box-sizing: border-box;
}

input[type="submit"] {
  position: absolute;
  top: -1000px
}

.x {
  display: block;
  padding-left: auto;
  padding-top: 8px;
}
.x:hover {
  cursor: pointer;
}
.x:before {
  content: "";
  display: block;
  width: 14px;
  border-top: 1px solid rgba(0,0,0,0.5);
  transform: rotate(45deg);
  transform-origin: center;
}
.x:after {
  content: "";
  display: block;
  width: 14px;
  border-top: 1px solid rgba(0,0,0,0.5);
  transform: rotate(-45deg);
  transform-origin: center;
}

/* Materializecss Overrides */
h5.smaller {
  font-size: 14pt;
}

label.smaller {
  font-size: 10pt;
}

.chip.smaller {
  height: 22px;
  line-height: 22px;
}

.collapsible-body.narrower {
  padding: 10px;
}

.row.narrower {
  padding-top: 10px;
  margin-bottom: 4px;
}

.collection.with-header .collection-header {
  font-size: 110%;
  font-weight: bold;
}

.collection.with-header .collection-header.narrower {
  padding: 10px;
}

.collection.with-header .collection-item.narrower {
  padding: 8px 15px;
  line-height: 1.25rem;
}
