html, body {
  font-size: 92%;
}

body {
  overflow-y: auto;
}

ol.browser-default {
  padding-left: 22px;
}
ol.browser-default li {
  list-style-type: inherit;
}

.logo {
  display: block;
  height: 64px;
  line-height: 64px;
  font-size: 16pt;
  color: #FFF;
  background-color: #000;
}

.logo-container {
  position: fixed;
  width: 200px;
  z-index: 999;
  text-align: center;
}

.settings {
  margin: 32px 0px;
}

.setting-item {
  text-align: left;
  margin: 0px 8px;
}

.app-version-info {
  padding: 5px;
  background-color: rgba(255, 0, 0, 0.2);
  text-align: center;
}

.view-code {
  position: absolute;
  width: 250px;
  left: 65px;
  bottom: 0px;
  margin-bottom: 22px;
}

.search-bar {
  font-size: 200% !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.preloader {
  margin: 0px;
}

.spelling-correction {
  font-size: 110%;
  margin-top: 5px;
  padding: 15px;
}

.related-concepts {
  font-size: 110%;
  margin-top: 5px;
  padding: 15px;
}

.word-span {
  margin: 0px 8px;
}

.search-topics {
  font-size: 15px;
  margin: 22px 22px 16px 22px;
  line-height: 30px;
}

.topic-type {
  float: left;
  margin-right: 8px;
  margin-bottom: 10px;
}

.dropdown-button {
  font-size: 12px;
  padding: 0 1.2em;
  height: 32px;
  line-height: 32px;
}

.content-area {
  display: block;
  padding-top: 25px !important;
  overflow:hidden;
}

.side-bar {
  display: block;
  padding-top: 30px !important;
  overflow:hidden;
}

.search-facet-container {
  position: fixed;
  margin-right: 30px;
  margin-bottom:30px;
  min-width: 19%;
  background-color: #E6E6E6;
}

.search-facets {
  margin: 15px;
}

.facet-menu {
  margin-top: 10px;
  margin-bottom: 10px;
}

.search-result-richlist-container {
  /* Empty */
}

.search-result-list-container {
  padding: 0px 20px 15px 20px;
}

.thumbnail {
  float: left;
  margin-right:18px;
}

.thumbnail-img {
  object-fit: cover;
  width: 52px;
  height: 52px;
}

.search-snippet {
  line-height: 1.5;
  padding-top: 20px;
}

.search-chips {
  padding-top: 8px !important;
  line-height: 1.5;
  text-align: right;
}

.topic-card {
  padding: 0px !important;
  margin: 6px 10px;
  border: 1px solid #E0E0E0;
}

.fullscreen-img {
  display: block;
  margin: 5px 0px;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  position: relative;
  -webkit-transition: opacity .4s;
  transition: opacity .4s;
  -webkit-backface-visibility: hidden
}

.fullscreen-img:hover:not(.active) {
  opacity:.8
}

.fullscreen-img.active {
  cursor: -webkit-zoom-out;
  cursor: zoom-out
}

.search-result-list {
  list-style: none;
  margin: 0;
  padding: 0px 10px;
}

.search-result-item {
  margin-top: 12px;
  line-height: 20px;
  list-style: none;
  box-sizing: border-box;
}

input[type="submit"] {
  position: absolute;
  top: -1000px
}

.x {
  display: block;
  padding-left: auto;
  padding-top: 8px;
}
.x:hover {
  cursor: pointer;
}
.x:before {
  content: "";
  display: block;
  width: 14px;
  border-top: 1px solid rgba(0,0,0,0.5);
  transform: rotate(45deg);
  transform-origin: center;
}
.x:after {
  content: "";
  display: block;
  width: 14px;
  border-top: 1px solid rgba(0,0,0,0.5);
  transform: rotate(-45deg);
  transform-origin: center;
}

iframe {
  width: 100%;
  margin-top: 5px;
}

/* JQuery UI Overrides */
.ui-autocomplete {
  font-size: 120%;
  width: 300px !important;
  top: 52px !important;
  z-index: 1000;
}

/* Materializecss Overrides */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    #F0F0F0;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #F0F0F0;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #F0F0F0;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:    #F0F0F0;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color:    #F0F0F0;
}

nav {
  background-color: #3B3B3B;
  height: 64px !important;
}

h5.smaller {
  font-size: 14pt;
}

.navbar-fixed {
  height: 64px !important;
}

.material-icons, .icon-text {
  vertical-align: middle;
}

.truncate {
  display: block;
  margin-bottom: -18px !important;
}

.chip.smaller {
  height: 22px;
  line-height: 22px;
}

.collapsible-body.narrower {
  padding: 0px 14px;
}

.row.narrower {
  padding-top: 10px;
  margin-bottom: 8px;
}

.collection.with-header .collection-header {
  font-size: 110%;
  font-weight: bold;
}

.collection.with-header .collection-header.narrower {
  padding: 10px;
}

.collection.with-header .collection-item.narrower {
  padding: 8px 15px;
  line-height: 1.25rem;
}
